<div class="project-wrapper"></div>
<div class="row timeline">
  <div class="row project-header">
    <h5>Projects</h5>
  </div>
  <div class="row project-body">
    <div class="row project-items" *ngFor="let item of projects; let i = index">

      <div class="pointer"></div>
      <div class="item-left" *ngIf=" i % 2 == 0 ">
        <div class="row">
          <div class="col s5 thumbnail">
            <img src="{{ 'assets/images/' + item.image }}" alt="image">
          </div>
          <div class="col s7 text">
            <h5>
              {{ item.project_name }}
            </h5>
            <p>
              {{ item.decription }}
            </p>
          </div>
        </div>
      </div>

      <div class="item-right" *ngIf=" i % 2 != 0 ">
        <div class="row">
          <div class="col s7 text">
            <h5>
              {{ item.project_name }}
            </h5>
            <p>
              {{ item.decription }}
            </p>
          </div>
          <div class="col s5 thumbnail">
            <img src="{{ 'assets/images/' + item.image }}" alt="image">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
